.trans
{
    background-color: transparent;
}

.imgHeightWidth
{
    height: 80px;
    width: 80px;
}

.setColorMemeber1
{
    background-color: #a3bfff;
    border-radius: 10px;
}

.setColorMemeber2
{
    background-color:#d24b5a ;
    border-radius: 10px;
}

.setColorMemeber3
{
    background-color: #A21EB5;
    border-radius: 10px;
}

.setColorMemeber4
{
    background-color: #4989c3;
    border-radius: 10px;
}

